<h1>Add A Task</h1>

<form [formGroup]="taskForm" (ngSubmit)="submitForm()">
    <div>
        <label for="name">
            Name
        </label>
        <input id="name" type="text" formControlName="name">
    </div>

    <div>
        <label for="descrip">
            Description
        </label>
        <input id="descrip" type="text" formControlName="descrip">
    </div>

    <div>
        <label for="dueDate">
            Due Date
        </label>
        <input id="dueDate" type="Date" formControlName="dueDate">
    </div>
 <!--
    <div>
        <label for="comp">
            Completed?
        </label>
        <input id="comp" type="Boolean" formControlName="comp">
    </div>

    
-->
    

    <button class="button" type="submit">Save Task</button>



</form>