<h1>Add A Contact</h1>

<form [formGroup]="contactForm" (ngSubmit)="submitForm()">
    <div>
        <label for="firstName">
            First Name
        </label>
        <input id="firstName" type="text" formControlName="firstName">
    </div>

    <div>
        <label for="lastName">
            Last Name
        </label>
        <input id="lastName" type="text" formControlName="lastName">
    </div>

    <div>
        <label for="phoneNum">
            Phone Number
        </label>
        <input id="phoneNum" type="text" formControlName="phoneNum">
    </div>

    <div>
        <label for="emailAdd">
            Email Address
        </label>
        <input id="emailAdd" type="text" formControlName="emailAdd">
    </div>

    <div>
        <label for="physAdd">
            Home Address
        </label>
        <input id="physAdd" type="text" formControlName="physAdd">
    </div>

    

    <button class="button" type="submit">Save Contact</button>



</form>