<html>

<body style="background-color:darkgray;">
  <div class = "topline">

  <script src="sorttable.js"></script>
  
  <h1 class="heading">
    CATScheduling
   <nav>
     <div style = "display: flex; justify-content:flex-end">
        
        <button routerLink='/add-contact'>Add Contact</button>
        <button routerLink ='/add-appointment'>Add Appointment</button>
        <button routerLink ='/add-task'>Add Task</button>
      
      </div>
     
    </nav>
</h1>

</div>

<pre>
<style>
  table, th {
  border: 3px solid black;
  border-collapse: collapse;
  background-color: darkcyan;
  
}
th {
  padding: 5px;
  text-align: center;
}
th a {
  display: block;
}
</style>
<table  mat-table matSort [dataSource]="dataSource" 
class="mat-elevation-z8"  style="width:100%;" class="sortable">
  <thead>
    <tr>
      <th colspan="4">Contacts</th>
    
    </tr>
    <!--
    <tr>
        <th mat-sort-header="firstName">First Name</th>
        <th mat-sort-header="lastName">Last Name</th>
        <th mat-sort-header="phoneNum">Phone Number</th>
        <th mat-sort-header="address">Address</th>
    </tr>
  -->
  </thead>
    <!--fill with information from database-->
    <!-- * * onclick="sort('First Name')"   " *ngFor="let contact of sortedTestContacts"
    <td>{{Contact.firstName}}</td>
    <td>{{Contact.lastName}}</td>
    <td>{{Contact.phone}}</td>
    <td>{{Contact.address}}</td>
  **-->

 <!--
  <tbody style="background-color: beige;">

    @for (contact of sortedTestContacts; track contact){
      <tr>
        <td>{{contact.firstName}}</td>
        <td>{{contact.lastName}}</td>
        <td>{{contact.phoneNum}}</td>
        <td>{{contact.address}}</td>
      </tr>
    }
  </tbody>
-->

  
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by First Name">
      First Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Last Name">
      Last Name
    </th>
    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
  </ng-container>

  <ng-container matColumnDef="phoneNum">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Phone Number">
      Phone Number
    </th>
    <td mat-cell *matCellDef="let element"> {{element.phoneNum}} </td>
  </ng-container>

  <ng-container matColumnDef="address">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Address">
      Address
    </th>
    <td mat-cell *matCellDef="let element"> {{element.address}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  

</table>

</pre>

<pre>
  <table style="width:100%;">
    <tr>
      <th colspan="3">Appointments</th>
    </tr>
    <tr>
        <td>Date </td>
        <td>Description</td>
        <td>Appointment ID</td>
    </tr>
    <tr>
      <!--fill with information from database-->
    
        <!--fill with information from database-->
        <!-- * * 
        <td>{{Appointment.appointDate}}</td>
        <td>{{Appointment.appointDescrip}}</td>
        <td>{{Appointment.appointID}}</td>
        <td>{{Appointment.address}}</td>
  **-->
    </tr>
  </table>
</pre>

<pre>
  <table style="width:100%;">
    <tr>
      <th colspan="5">Tasks</th>
    </tr>
   
    <tr>
        <td>Task ID </td>
        <td>Name</td>
        <td>Description</td>
        <td>Time Left to Complete</td>
        <td>Done?</td>
    </tr>
    <tr>
      <!--fill with information from database-->
    
        <!--fill with information from database-->
        <!-- * * 
        <td>{{Task.taskID}}</td>
        <td>{{Task.taskName}}</td>
        <td>{{Task.taskDescrip}}</td>
        calculate time left until date due and display
        <td>{{Task.timeTillDue}}</td>
        <td>{{Task.task.Complete}}</td>
  **-->
    </tr>
  </table>
</pre>
</body>


</html>
